* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
}

form {
    margin-bottom: 10px;
}

input, select {
    margin-right: 10px;
}

#resultadoFactorial, #resultadoFibonnacci, #resultadoFiltrado {
    margin-top: 10px;
}

