*{
    margin: opx;
}

html, body{
    height: 100%;
}

#caja{
    background-color: aquamarine;
    display: flex;
}

.shrink {
    flex-shrink: 2;
}

.cuadro{
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    height: 25px;
    width: 250px;
}