body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

#sumas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#operando1,
#operador,
#operando2,
#igual {
    font-size: 24px;
    font-weight: bold;
    margin: 0 5px;
    color: #3498db;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}
